<% if session[:user_id]==nil %>
<%    str = 'pre_login_page'%>     
<%end%>
    <% if !params[:error].blank? %>
        
        <% if params[:error] == 'mismatch' %>
          <div class="alert alert-error">
            <button class="close" data-dismiss="alert">x</button>
            Please make sure that the passwords match
          </div>
        <%end%>

        <% if params[:error] == 'too short' %>
          <div class="alert alert-error">
            <button class="close" data-dismiss="alert">x</button>
            Passwords is too short. It should be between 5 to 15
          </div>
        <%end%>

        <% if params[:error] == 'too long' %>
          <div class="alert alert-error">
            <button class="close" data-dismiss="alert">x</button>
            Passwords is too long. It should be between 5 to 15
          </div>
        <%end%>

    <%end%> 
<%= link_to("Back to Login Page", {:controller => 'access' , :action => 'login'}, class: "btn btn-info back_to_home back_to_home") %><br/>  

<body class="pre_login_page">
<div class='customized_form'> 
         <div class='row'>
            <div class='span4'>
            <div class='well'>
             <%= form_tag(:controller => 'password' , :action => 'update_password') do %>
             <br/><br/>
             <fieldset>
              <legend><strong>Change Password</strong></legend>
              <table>
                <tr>
                  <td><%= label_tag(:email_address) %>
                  <%= text_field_tag(:email_address) %></td>
                </tr>                
                <tr>
                  <td><%= label_tag(:password) %>
                  <%= password_field_tag(:password) %></td>
                </tr>
                <tr>
                  <td><%= label_tag(:password_confirmation) %>
                  <%= password_field_tag(:password_confirmation) %></td>
                </tr>                
              </table>

              <%= submit_tag("Confirm", class: "btn btn-primary") %>
            </fieldset>
              <% end %>
            </div>
            </div>
            <div class="span8">

            </div>
          </div>
 </div>
</body>