<div class="page-header">
	<h2> Search Results From all Users

              <form class="navbar-search pull-right" action="../../../user/show_search_results_from_all_users">
                      <input type="text" class="search-query span12" name="search_tag" placeholder="Search any User">
                    </form>
  </h2>


</div>	



<%= link_to("Check Users", {:controller => 'user' , :action => 'show_users'}, class: "btn btn-success") %>


<br/><br/> 
<div class="public_thoughts">	
	<div class="bs-docs-example">
            <table class="table">
              <thead>
                <tr>
                  <th>Author</th>                  
                  <th>Title</th>
                  <th>Content</th>
                  <th></th>
                  <th></th>
                  <th></th>                  
                </tr>
              </thead>
              <tbody>
                <% @user.each do |u| %>
                    <tr class="<%= cycle('odd','even') %>">                   
                          <td>
                              <%this_user = User.find_by_profile_name(u.profile_name)%>
                               <a href='../../../user/show?profile_name=<%=this_user.profile_name%>'><div class="listing_image"><%= image_tag(this_user.avatar, :size =>'60x60')%><div> </a>

                          </td>
                          <td><%= u.profile_name %></td>
                          <td>
                            <a><%=link_to(pluralize(u.followers.count, "follower"), {:controller => 'user' , :action=> 'followers', :this_profile_name => u.profile_name})%></a>
                          </td>
                          <td>
                            <a><%=link_to(pluralize(u.following.count, "following"), {:controller => 'user' , :action=> 'following', :this_profile_name => u.profile_name})%></a>                            
                          </td>
                   </tr>
                  <%end%> 
              </tbody>
            </table>
</div>
</div>



