<div class="page-header">
	<h2> Search Results For all Thoughts

              <form class="navbar-search pull-right" action="../../../thoughts/show_search_results_from_all_users">
                      <input type="text" class="search-query span12" name="search_tag" placeholder="Search all visible thoughts">
                    </form>
  </h2>


</div>	



<%= link_to("Check Users", {:controller => 'user' , :action => 'show_users'}, class: "btn btn-success") %>


<br/><br/> 
<div class="public_thoughts">	
	<div class="bs-docs-example">
            <table class="table">
              <thead>
                <tr>
                  <th>Author</th>                  
                  <th>Title</th>
                  <th>Content</th>
                  <th></th>
                  <th></th>
                  <th></th>                  
                </tr>
              </thead>
              <tbody>

             
                <% @thought.each do |t| %>
                    <% if t.private == false%>
                    <tr class="<%= cycle('odd','even') %>">                   
                          <td>
                               <a href='../../../user/show?profile_name=<%=t.user.profile_name%>'><div class="listing_image"><%= image_tag(t.user.avatar, :size =>'60x60')%></div> </a>

                          </td>
                          <td><%= t.title %></td>
                          <td>
                            <%= simple_format(word_wrap(truncate(t.content, :length => 100, :omission => "..."), :line_width => 40))  %>
                          </td>
                          <td>
                            <%= pluralize(t.likes, "like")  %>
                          </td>
                          <td><%= link_to( "updated " + time_ago_in_words(t.updated_at) + " ago", {:controller => 'thoughts' , :action => 'show_by_id' , :id => t.id} ) %>
                          </td>
                          <td>
                          </td>
                         <td>
                         </td>
                    </tr>
                    <%end%>
                <%end%>
               

              </tbody>
            </table>
</div>
</div>



